.header {
	display: none;
	grid-template-columns: 1fr 40px;
	gap: 10px;
	margin: 15px 15px 0 15px;
}

.mobileMenu {
	position: fixed;
	z-index: 10;
	padding: 15px;
	top: 0;
	left: 0;
	right: 0;
	overflow-y: scroll;
	bottom: 0;
	background: #f5f6f8;
}

.menuClose {
	position: fixed;
	right: 15px;
	top: 15px;
}

@media (max-width: 765px) {
	.header {
		display: grid;
	}
}