.sortIcon {
	display: none;
}

.active {
	color: var(--primary);

	font-weight: 700;
}

.active .sortIcon {
	display: block;
}

.sort {
	display: grid;
	grid-template-columns: auto auto;
	gap: 10px 40px;
}

.sort span {
	display: grid;
	grid-template-columns: auto;

	align-items: center;
	gap: 0 8px;

	cursor: pointer;
}

.sort .active {
	grid-template-columns: 20px auto;
}

.sortName {
	display: none;
}
