html,
body {
	margin: 0;
	padding: 0;
	color: var(--black);
	background: #F5F6F8;
	font-family: 'Noto Sans', sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

.viualyHidden {
	width: 0;
	height: 0;
	overflow: hidden;
	position: absolute;
}

:root {
	--black: #3B434E;
	--gray-light: #EBEBEB;
	--gray-dark: #6c7077;
	--gray-placeholder:  #A4A4A4;
	--primary: #7351f5;
	--primary-hover: #603afa;
	--white: #FFF;
	--red: #FC836D;
	--red-light: #f7bbb0;
	--green-light: #C8F8E4;
	--green: #127a4f;
	--font-family: 'Noto Sans', sans-serif;
}
